@model Vehicles.API.Models.UserViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Usuarios</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data"> <!--Importante el enctype para capturar imagenes-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--Para pedir el email en una sola columna y todo lo otro en dos columnas-->
         <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

            <partial name="_User" />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
